<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xsgj copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>xsgj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043B4C9A1975036F000C5A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043B4C9E197503DC000C5A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF36B4731965B5BF0064C48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF36B4931965B5C00064C48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
